body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.email-link:hover,
.email-link:focus {
  color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*header*/

.page-header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-navigation {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-item {
}
.contact-list {
  display: flex;
  gap: 40px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.span-logo {
  color: #2e2f42;
}

.menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.icon-image-list {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}
.icon-img {
  margin: 24px 100px;
  fill: none;
  stroke: #2e2f45;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.contacts-menu {
  font-style: normal;
}
.menu-contact {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-top: 24px;
  padding-left: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
  position: relative;
}

/*HERO============================*/

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  max-width: 1440px;
  padding-bottom: 188px;
  padding-top: 188px;
  background-size: cover;
}
.title-hero {
  color: var(--WHITE, #ffffff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.order-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

/*EFFECTIVE SOLUTIONS ===============================*/

.effective-solutions {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-about {
  display: flex;
  gap: 24px;
}
.title-solutions {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.sub-title-solutions {
  margin-bottom: 8px;
}
.solutions-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}
.tittle-section {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-section {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.test-solutions {
  width: 264px;
}
.icon-image-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  padding: 32px 0;
}

/*OUR TEAM 3 ======================================*/

.page-team {
  background: var(--CLOUD, #f4f4fd);
  padding-top: 120px;
  padding-bottom: 120px;
}
.tittle-team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.team-container {
  padding: 32px 0;
}
.team-list {
  background: var(--WHITE, #fff);
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-team {
  display: block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
}
.name-team {
  text-align: center;
  margin-bottom: 8px;
}
.major-team {
  text-align: center;
  margin-bottom: 8px;
}
.social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.icon-sotial-media {
  display: block;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.icon-link-our-team {
  width: 100%;
  height: 100%;
  background-repeat: 50%;
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-our-team:hover,
.icon-link-our-team:focus {
  background-color: #404bbf;
}

.icon-our-team {
  fill: #f4f4fd;
  display: block;
}

/*PAGE PORTFOLIO 4 =================================*/

.page-portfolio {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-portfolio {
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  row-gap: 48px;
}
.image-portfolio {
  flex-basis: auto;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-portfolio:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.app-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.marketing {
  width: 296px;
  color: #f4f4fd;
  position: absolute;
}
.title-portfolio {
  margin-bottom: 8px;
}
.overlay-marketing {
}
.overlay {
  width: 296px;
  height: 96px;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--IRIS, #4d5ae5);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-portfolio:hover .overlay {
  transform: translateY(0%);
}
.overlay-img {
  position: relative;
  overflow: hidden;
}

/*PAGE FOOTER=======================================*/
.page-footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-footer {
  position: relative;
  display: flex;
  align-items: baseline;
}
.logo-footer {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.web-logo {
  color: #f4f4fd;
}
.description-footer {
  margin-right: 120px;
  display: block;
}
.text-section-footer {
  display: block;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}

.social-media-footer {
  display: block;
  width: 208px;
  height: 80px;
}
.title-footer-social {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-media-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
/* .icon-media:not(:last-child) {
  margin-right: 16px;
} */
.icon-sotial-media {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-repeat: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.icon-media {
  display: block;
  flex-shrink: 0;
  fill: #f4f4fd;
}

